.container__header {
    z-index: -10;
    background-color: #BFBFBF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    /* flex-direction: column; */
    overflow:hidden;
}
.section__header {
    display: inline-block;
    width: 100%;
    padding: 200px 0;
    margin: 5vw;

    background-image: url("../../../public/logobg.png");
    background-position: right;
    background-repeat: no-repeat;
}
.section__header__pretitulo{
    font-weight: bold;
    color: #16484B;
    padding: 0 5px;
}
.section__header__titulo{
    color: #000000;
    font-size: 4em;
    line-height:1.2;
    padding: 0 20px;
}
.section__header__line {
    margin-left: 5%;
    border-left: solid #16484B 5px;
}
.section__header__parrafo {
    font-size: 20px;
    width: 50vw; /*revisar por el tema del rd*/
    padding: 0 5px;
}

/*organizacion btn*/
.organizacion__btn {
    display: flex;
    align-items: center;
    background-color: #16484B;
    border-radius: 5px;
}
.organizacion__circulo__btn {
    width: 0.9em;
    height: 0.9em;
    background-color: #BFBFBF;
    border-radius: 50%;
    margin: 0 5px;
}
.organizacion__txt_btn {
    font-size: 1.2em;
    padding: 2px 8px;
    color: #BFBFBF;
}
/*organizacion section*/

.section__header__contactos {
    padding: 1em 0 1.5em 1em;
    display: flex;
    align-items: center;
    gap: 2em;
}

/* corte de seccion*/

/* background-color: #496c6e; */
.corte__header {
    position: absolute;
    width: 100vw;
    height: 70vh;
    background: #496c6e;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    z-index: -20;

    bottom: 0;
}